{% extends 'basic.html' %}

{% block content %}

<head>
    <style>
        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: red;
        }
    </style>
</head>

<div class="center">
    <p class="h1 mb-3"><i class="fas fa-times-circle"></i>Payment Failed</p>
    <a href="http://127.0.0.1:8000/">
        <strong>Donate Again?</strong>
    </a>
</div>
{% endblock %}